/* Dark mode- implementação */
.darkmode-true {
  background-color: #222;
  color: #fff;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 50px 10%;
}

body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
/* Estilizando o menu*/
 header {
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
 box-shadow: -3px -5px 8px #ffffff73, 2px 2px 5px #1D1E18;
  width: 100%;
  z-index: 1000;
  height: 80px;
}

header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

 .navbar {
  display: flex;
  list-style: none;
  text-align: center;
}

 .navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
}

.logo {
  font-size: 20px;
}

 .navbar a:hover{
  color: var(--hover);
}



#darkmode {
  font-size: 22px;
  cursor: pointer;
  padding-left: 30px;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.menu-section .mobile-menu {
  display: flex;
  width: 100%;
}

.menu-section {
  width: 100%;
  padding-left: 50%;
  display: flex;
}

/*Example */
.navbar.navbar-9 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
}


/*Estilizando a home */
.efect-name {
  /* border-right: 2px solid; */
  white-space: nowrap;
  overflow: hidden;
}

.animation-name {
  animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
   /* animation-iteration-count: infinite;  */

}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6.7em;
  }
}

@keyframes blinkCursor{
  from {
    border-right-color: var(--text-color);
  }
  to{
    border-right-color: transparent;
  }
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

.home-img {
  order: 3;
}

.home-img img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover; /* Garante que a imagem se ajuste ao círculo */
  border: 3px solid var(--text-color);

}

.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}

.home-text h1 {
  font-size: var(--big-font);
}

.home-text h2 {
  font-size: 1rem;
}

.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.social {
  display: flex;
  flex-direction: column;
}

.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--main-color);
  width: 5px;
}

.social button {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--main-color);
  background-color: var(--bg-color);
  border: none;
  width: 5px;
  padding: 1px;
}

/* Estilizando o 'Sobre mim'*/
.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 3px 4px 5px var(--main-color), -2px -2px 8px var(--main-color);
  border-radius: 10px;
}

.about-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-text p {
  font-size:var(--p-font);
  font-weight: 400;
  text-align: justify;
  line-height: 1.6;
  word-break: break-word;
}

.information {
  display: flex;
  flex-direction: column;
}

.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
  margin: 10px;
}

.info-box i {
  font-size: 24px;
  color: var(--main-color);
}

.info-box span {
  font-weight: 400;
  margin-left: 1rem;
}


.info-box span a {
  text-decoration: none;
  color: var(--text-color);
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.heading span {
  font-size: 1.2rem;
  color: var(--main-color);
}

/* Estilizando a seção de Skills */
.skills {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
}

.div-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
  margin: 0.5rem;
  width: 150px;
  height: 180px;
}

.skill-image {
  display: flex;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.skill-image img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.skill-card h3 {
  color: var(--main-color);
  font-size: var(--p-font);
  margin-bottom: 0.5rem;
}

/* Animação de crescimento suave das imagens ao passar o mouse */
.skill-image img:hover {
  transform: scale(1.1);
}


/* Estilizando a parte de projetos */
.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5; /* Adicione um fundo de cor clara */
  padding: 20px; /* Adicione um espaço interno para melhorar a aparência geral */
}

.project-divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.project-unit {
  width: calc(33.33% - 20px);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* padding: 20px; */
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.project-unit:hover {
  transform: translateY(-5px);
}

.image-project {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: var(--medium-font); /* Tamanho de fonte para o título */
}

p {
  font-size: 1rem;
}

.project-unit a {
  display: inline-block;
  margin-top: auto;
  width: 50%;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: auto;
}

.project-unit a:hover {
  background-color: #0056b3;
}

.pagination {
  margin-top: 20px;
  text-align: center; /* Centraliza horizontalmente */
}

.page-numbers {
  list-style: none;
  padding: 0;
  text-align: center; /* Centraliza horizontalmente */
}

.page-numbers li {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-numbers li:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: center;
}


/* Estilizando a parte de contatos */
.contact {
  text-align: center;
  background-image: url('./gifs/gifEstrelas.gif');
}

.contact h2 {
  font-size: 2rem;
  color: whitesmoke;
}

.contact span {
  color: whitesmoke
}

.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}

form, input, textarea {
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
  background: whitesmoke;
  margin-bottom: 1rem;
  color: var(--text-color);
}

form input::placeholder, textarea::placeholder {
  color: var(--main-color)
}

form textarea {
  resize: none;
  height: 200px;
}

.contact-button {
  width: 160px;
  cursor: pointer;
  background: #1D1E18;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 35%;
  margin-left: 35%;
}

.contact-button:hover {
  background: var(--hover);
  color: var(--main-color);
}

/* Estilizando o footer */
.footer {
  display: grid;
  place-items: center;
  padding: 20px;
  color: black;
}

.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}

.footer-social a i {
  color: var(--main-color);
  font-size: 1.5rem;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  border-radius: 50%;
  width: 40%;
  height: 40px;
}

.footer-social button {
  color: var(--main-color);
  border: none;
  background: #fff;
  font-size: 1.5rem;
  margin-left: 10px;
  line-height: 40px;
  border-radius: 50%;
  width: 40%;
  height: 40px;

}

.copyright {
  padding: 20px;
  text-align: center;
  color: #fff;
  background: var(--main-color);
  display:flex;
  justify-content: center;
}

  :root {
    /* --main-color: #033a80; */
    --main-color: #1D1E18;
    --bg-color: #fff;
    --text-color: #0f0c27;
    --hover: hs1(260, 100%, 51%);
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
  }


  *::selection {
    background: var(--main-color);
    color: var(--bg-color);
  }

  /* Parte responsável pela responsividade */
  @media (max-width: 1120px){
    .menu-section {
      width: 100%;
    }
    .menu-section nav{
     display: none;
   }

   .menu-section .mobile-menu i {
    padding-left: 100%;
   }

   #menu-button {
    font-size: 35px;
    color: #033a80;
   }

   .mobile-menu
   {
    width: 100%;
   }

   .mobile-menu ul
   {
    text-align: center;
   }

   /*Fullscreen*/
  .menu-section.on {
    padding: 18px 4%;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -4px 8px #ffffff73, 2px 2px 5px orange;
    width: 100%;
    z-index: 1000;
  }

  .menu-section.on nav{
    display: block;
    padding-right: 20%;
    width: 100%;
  }

  .menu-section.on i{
    padding-left: 100%;
  }

  .home-img img {
    width: 400px;
    height: 400px;
  }

  }


  @media (max-width:991px){
    header {
      padding: 18px 4%;
    }
    section {
      padding: 50px 4%;
    }
  }
  @media (max-width:881px) {
    :root {
      --big-font: 2.7rem;
      --medium-font: 1.4rem;
    }
  }
  @media (max-width:768px) {
    :root {
      --big-font: 2.4rem;
      --medium-font: 1.2rem;
    }
    header {
      padding: 11px 4%;
    }

    #menu-icon {
      display: initial;
      color: var(--text-color);
    }

    header .navbar {
      position: absolute;
      left: 0;
      top: -500px;
      right: 0;
      display: flex;
      flex-direction: column;
      background: var(--bg-color);
      box-shadow: 0 4px 4px rgba(0 0 0/100%);
      transition: 0.2s ease;
      text-align: center;
    }

    .navbar .actve {
      top: 100%;
    }

    .navbar a {
      padding: 1.5rem;
      display: block;
      background: var(--bg-color);
    }

    #darkmode {
      position: absolute;
      top: 1.4rem;
      right: 2rem;
    }

    .scroll-down {
      display: none;
    }

    .home {
      grid-template-columns: 0.5fr 3fr;
    }

    .home-text{
    grid-column: 1/3;
    padding: 1.4rem;
  }

    .home-img {
    order: initial;
  }

  .home-img img {
    width: 250px;
    height: 250px;
  }

    .about-container {
    grid-template-columns: 1fr;
    box-shadow: none;
    justify-items: center;
    text-align: center;
  }

    .about-img {
      grid-row: 1;
      justify-self: center;
    }

    .about-text p {
    font-size: 1rem;
    word-spacing: 1px;
    max-width: 90%;
  }

    .contact-form form {
    width: 300px;
  }

    .contact-button {
    margin-left: 25%;
  }

  .project-divs {
    flex-direction: column;
    gap: 10px;
  }

  .project-unit {
    width: 100%;
    margin-bottom: 20px;
  }

  .project-unit a {
    width: 100%;
    margin: 0;
  }

  }

  @media (max-width: 340px) {
    :root {
      --big-font: 1.7rem;
      --medium-font: 1.1rem;
    }

    .home-text span {
      font-size: 1rem;
    }

    .home-text h2 {
      font-size: 0.9rem;
      font-weight: 500;
    }

    .information .info-box span {
      font-size: 1rem;
    }

    .contact-form form {
      width: 250px;
    }

    .contact-button {
      width: 20%;
    }

    .home-img img {
      width: 200px;
      height: 200px;
    }
  }


/* Estilização da barra de rolagem */
::-webkit-scrollbar{
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

